<template>
	<div class="kcLayout">
		<header class="kcHeader">
			<a href="/" aria-label="To the homepage" class="kcMainLink kcLink">
				~KartoffelCheetah
			</a>
			<kcVordirProfile class="kcHeaderProfileTitle" />
		</header>
		<main class="kcMain">
			<slot />
			<kcVordirProfile class="kcHeaderProfileMain" />
			<div v-for="i in 4" :class="`kcMainCorner kcMainCorner${i}`" />
		</main>
	</div>
</template>

<script setup>
	import { defineAsyncComponent } from 'vue';
	const kcVordirProfile = defineAsyncComponent(() => import('../component/kcVordirProfile.vue'));
</script>

<style scoped lang="stylus">
.kcLayout
	display flex
	flex-direction column
	width 100%
	max-width var(--vBreakpointOver)
	min-height 100vh
	margin 0 auto
	padding 0 30px
	gap 22px
	background #130e17cc
	word-wrap break-word
	hyphens auto
	@media(max-width: kcVar('vBreakpointBelow'))
		padding 0

.kcHeader
	font-family "Overlock"
	font-size 30px
	position relative
	display inline-flex
	min-height 55px
	padding 0 20px
	align-items center
	justify-content space-between
	border-bottom 10px double #26202d;
	border-right 6px double #26202d;
	border-left 5px double #26202d;
	background var(--superDarkPurple)
	@media (min-width: 1200px)
		margin-right auto
		font-size 17px
	@media (max-width: kcVar('vBreakpointBelow'))
		background-clip padding-box
		min-height 65px
	@media (max-width: 550px)
		font-size 17px

.kcHeaderProfile
	position absolute
	right 0

.kcHeaderProfileTitle
	@media (min-width: kcVar('vBreakpointOver'))
		display none

.kcHeaderProfileMain
	top 45px
	right -8px
	@media (max-width: kcVar('vBreakpointBelow'))
		display none

.kcMain
	position relative
	min-height 600px
	padding 45px
	box-shadow 0 0 0 8px var(--superDarkPurple), 0 0 0 9px #302722, 0 0 11px 5px #000
	background var(--superDarkPurple)
	@media(max-width: kcVar('vBreakpointBelow'))
		padding 36px 8px 5px
		box-shadow inset 0 0 1px var(--wheat), 0 0 0 8px var(--superDarkPurple)
	@media(max-width: 400px)
		padding 36px 5px

	&Link
		line-height 1.8

	&Corner
		--cornerSize 63px
		--cornerOffset -5px
		position absolute
		width var(--cornerSize)
		height var(--cornerSize)
		background url(kcVar('kcCwd') + '/src/images/corner_small_002.png.webp')
		background-size var(--cornerSize)
		mix-blend-mode screen

		@media(max-width: kcVar('vBreakpointBelow'))
			display none

		&1
			top var(--cornerOffset)
			left var(--cornerOffset)
		&2
			top var(--cornerOffset)
			right var(--cornerOffset)
			transform rotate(90deg)
		&3
			bottom var(--cornerOffset)
			right var(--cornerOffset)
			transform rotate(180deg)
		&4
			bottom var(--cornerOffset)
			left var(--cornerOffset)
			transform rotate(270deg)
</style>
