<template>
	<img alt="" :src="imgVordir" width="48" height="48" class="kcHeaderProfile" />
</template>

<script setup>
	import imgVordir from '../images/cat007_005_badge_wo_bg_256.png.webp';
</script>
