<template>
	<h1 class="kcHeadingLvl1">
		Other places where you can find me.
	</h1>
	<section class="kcParagraphSection">
		UNDER CONSTRUCTION :( because I'm a couch potato.
		{{ count }}
	</section>
</template>

<script>
	export const pageTitle = 'KartoffelCheetah\'s Lair - About';
</script>

<script setup>
	import { ref } from 'vue';
	const count = ref(0);
</script>
