<template>
	<div>
		<h1 class="kcHeadingLvl1">
			Home
		</h1>
		<div class="kcParagraphSection">
			<img src="../images/green.png.webp" alt="" class="greenBanner">
			<p class="kcFeaturedText">
				Hello, welcome to my small website. My name on the Internet is
				KartoffelCheetah.
			</p>
			Places where you can find me:
			<ul class="kcUl">
				<li
					v-for="link in links"
					:key="link.href"
					class="listItem"
				>
					<a
						:href="link.href"
						class="kcLink"
						:aria-label="link.ariaLabel || null"
						v-text="link.text"
					/>
				</li>
				<li class="listItem">
					My Fedi account id:
					<span>
						@kartoffelcheetah@social.kartoffelcheetah.eu
					</span>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export const pageTitle = 'KartoffelCheetah\'s Lair - Homepage';
</script>

<script setup>
	const links = [
		{
			href: 'https://gitlab.com/KartoffelCheetah',
			ariaLabel: 'My Gitlab profile',
			text: 'Gitlab',
		},
	];
</script>

<style scoped lang="stylus">
.greenBanner
	border-radius 3px
.listItem
	display flex
	flex-direction column
	align-items start
	@media(max-width: kcVar('vBreakpointBelow'))
		margin-left 16px
</style>
