@font-face
	font-family "Overlock"
	src local("Overlock-Regular"), url(kcVar('kcCwd') + "/src/fonts/Overlock/Overlock-Regular.woff2") format("woff2"), url("/precompiled_assets/Overlock-Regular.ttf") format("truetype")
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family "Overlock"
	src local("Overlock-Bold"), url(kcVar('kcCwd') + "/src/fonts/Overlock/Overlock-Bold.woff2") format("woff2"), url("/precompiled_assets/Overlock-Bold.ttf") format("truetype")
	font-weight bold
	font-style normal
	font-display swap

@font-face
	font-family "Aclonica"
	src local("Aclonica-Regular"), url(kcVar('kcCwd') + "/src/fonts/Aclonica/Aclonica-Regular.woff2") format("woff2"), url("/precompiled_assets/Aclonica-Regular.ttf") format("truetype")
	font-weight normal
	font-style normal
	font-display swap
