*
	box-sizing border-box
	outline 0
	border 0
	outline 0
	margin 0
	padding 0
	font-weight normal
	font-style normal
	font-size inherit
	text-decoration none
	color inherit
	list-style-type none

:focus-visible
	outline 2px dashed #bdc563

html
	font-family "Overlock"

body
	color var(--wheat)
	@media (max-width: kcVar('vBreakpointBelow'))
		background-image url(kcCwd + "/src/images/landscape011_004_sky.jpg.webp")
	background #453730 url(kcCwd + "/src/images/landscape011_004.jpg.webp")
	background-size cover
	background-blend-mode overlay
	background-attachment fixed

.kcLink
	text-decoration: underline
	border-radius 8px
	color #e59c5c
	transition .2s ease color

	&:hover
	&:focus
	&:active
		color #a45ce5

.kcBold
.kcItalic
	color #aeae64

.kcBold
	font-weight bold

.kcItalic
	font-style italic

.kcHeadingLvl1
	font-family "Aclonica"
	font-size 26px
	border-bottom 1px solid var(--brown)
	margin-bottom 13px
	@media (max-width: kcVar('vBreakpointBelow'))
		border-width 4px
		border-image linear-gradient(45deg, var(--brown) 0, var(--brown) 120px, transparent 120.2px) 1
		margin-bottom 23px

.kcParagraphSection
	display flex
	flex-direction column
	gap 13px

.kcFeaturedText
	font-size 1.25rem
	line-height 1.5

.kcUl > li
	&::before
		kcListDecorationSize = 6px
		position absolute
		content ""
		display inline-block
		width kcListDecorationSize
		height kcListDecorationSize
		margin-left -(kcListDecorationSize + 8px)
		border 2px double #000
		// NOTE lh unit's support is quite abysmal
		transform translateY(0.25lh + 25%) rotate(135deg)
		background var(--wheat)
