kcVar(stylusVariable)
	lookedupvar = lookup(stylusVariable)
	if lookedupvar is null
		error('is null: ' + stylusVariable)
	else
		return lookedupvar

kcCwdRequire(u)
	u2 = kcCwd + u
	@require u2

vBreakpointOver = 768px
vBreakpointBelow = 767.98px
